.profile {
  height: 1vh;
  padding: 50px;
  display: grid;
  grid-template-rows: 100px minmax(1fr, 1000px) minmax(1fr, 1000px);
}
@media screen and (max-width: 1250px) {
  .profile {
    padding: 0px;
    grid-row: 1/2;
    height: auto;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr 1fr;
  }
}
