.subscription{
    padding: 0 20px;
    border-radius: 5px;
    display: grid;
    align-content: center;
    height: 40px;
    margin-bottom: 10px;
    grid-template-areas: "icon title price date edit . remove";
    grid-template-columns: 60px 1fr 1fr 1fr 25px 5px 25px;
}
.subscription:hover{
    background-color: white;
}
.subscription button{
    box-sizing: border-box;
}
.icon{
    font-weight: 700;
    line-height: 23px;
    border-radius: 5px;
    color: white;
    text-align: center;
    background-color: black;
    width: 22px;
    grid-area: icon;
}
.title{
    grid-area: title;
}
.price{
    text-align: center;
    justify-self: center;
    width: 3rem;
    grid-area: price;
}
.date{
    text-align: center;
    width: 4rem;
    justify-self: end;
    grid-area: date;
}
.editImage{

}
.removeImage{

}
.editButton{
    cursor: pointer;
    border: none;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    grid-area: edit;
}
.removeButton{
    cursor: pointer;
    border: none;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    grid-area: remove;
}
.submitButton{
    grid-area: edit;
}
.cancelButton{
    grid-area: remove;
}
.subscription:hover .hoverButton{
    opacity: 1;
    visibility: visible;
}