.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.errorText {
  color: red;
  grid-column: 1/3;
}
.closeButton {
  transition: all ease 0.3s;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  border: none;
  position: absolute;
  right: 20px;
  top: 10px;
}
.closeImage {
  transform: translateY(1px) translateX(1px);
  height: 20px;
}
.closeButton:hover {
  background-color: black;
}
.closeButton:hover .closeImage {
  filter: invert(1);
}
.settingsContent {
  position: relative;
  font-size: 30px;
  padding: 10px 60px 0 10px;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: grid;
  border-radius: 20px;
  height: 50vh;
  width: 50vw;
  background-color: white;
}
.error {
  border: 2px solid red;
}
.settingsContent input {
  font-size: 30px;
  height: 60px;
}
.submitButton {
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 20px;
  width: 100px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: black solid 2px;
  background-color: white;
  grid-column: 1/3;
}
.submitButton:hover {
  color: white;
  background-color: black;
}
@media screen and (max-width: 500px) {
  .submitButton {
    grid-column: auto;
  }
  .settingsContent {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    grid-template-columns: 100%;
    align-items: center;
    display: grid;
    border-radius: 20px;
    height: 70vh;
    width: 70vw;
    background-color: white;
  }
  .closeButton {
    right: 5px;
    top: 5px;
  }
  .closeImage {
    height: 14px;
  }
  .settingsContent input {
    grid-column: 1/3;
    font-size: 1.5rem;
    width: calc(70vw - 20px);
    height: auto;
  }
  .errorText {
    font-size: 1.5rem;
    color: red;
    grid-column: 1/3;
  }
}
